* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  background-color: #f1f3f7;
}
img {
  display: block;
}
button {
  background-color: transparent;
  border: none;
}

.container {
  display: flex;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-right: 1px solid #f2f6fb;
}

.sidebar .logo {
  flex: 1;
}

.logo {
  width: 100%;
  border-bottom: 1px solid #f2f6fb;
  padding: 1rem;
}

.logo img {
  margin: auto;
}

.sidebar-inner {
  flex: 10;
}
.sidebar-footer {
  border-top: 1px solid #f2f6fb;
  padding: 1rem 0;
  flex: 1;
}

.sidebar-inner img {
  margin: 2rem auto;
}
.sidebar-footer img {
  margin: 0 auto;
}

section {
  height: 100vh;
  flex: 12;
}

/* DELETE THIS */

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.boards-container {
  flex: 12;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  height: 100%;
}

.board {
  flex: 1;
  margin: 0 2rem;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1f1f1f;
  height: 10%;
  background-color: #ffffff;

  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.board-header h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
.board-header button {
  background-color: #f1f3f7;
  color: #405dc1;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.board .inner {
  width: 100%;
  height: 85%;
  border-radius: 10px;
  overflow-y: auto;
}

.task-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px 0 #0000000e;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  cursor: move;
  margin: 2rem 0;
}

.task-wrapper h4 {
  color: #6293d7;
  font-weight: 600;
}
.task-wrapper p {
  margin: 1rem 0;
}
.task-wrapper .task-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-wrapper .task-description {
  color: #3b3b3b;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.task-wrapper .task-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
