*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
textarea::placeholder {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Spartan", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  background-color: #f1f3f7;
  user-select: none;
}

img {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  cursor: pointer;
}
select {
  background-color: transparent;
  appearance: none;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select {
  grid-template-areas: "select";
}

select,
.select:after {
  grid-area: select;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
*[contenteditable="true"]:focus {
  outline: 1px solid rgb(236, 236, 236);
}
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-right: 1px solid #f2f6fb;
}

.sidebar i {
  display: block;
  width: max-content;
  margin: 2rem auto;
  font-size: 2.5rem;
  color: rgb(68, 68, 68);
  padding: 0.5rem;
}
.sidebar i:hover {
  color: #2bbcca;
  background-color: #f0f7f7;
  border-radius: 50%;
}

.sidebar .logo {
  flex: 1;
  border-bottom: 1px solid #f2f6fb;
}
.sidebar .logo i {
  font-size: 4rem;
}

.sidebar-inner {
  flex: 10;
}

.sidebar-footer {
  display: flex;
  border-top: 1px solid #f2f6fb;
  flex: 1;
}
.sidebar-footer img {
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}
.section {
  position: relative;
  height: 100vh;
  flex: 15;
  overflow-y: auto;
}

.new-task-modal {
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgba(0, 0, 0, 0.678);
}

.new-task-modal.opened {
  opacity: 1;
  visibility: visible;
}

.new-task-modal form {
  position: relative;
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  transform: scale(0.8);
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.new-task-modal.opened form {
  transform: scale(1);
}

.new-task-modal form .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.new-task-modal form .header h1 {
  color: rgb(43, 43, 43);
  font-weight: 400;
}

.new-task-modal form input,
textarea,
select {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
}

.new-task-modal form textarea {
  height: 10rem;
  resize: none;
}

.new-task-modal form input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #2bbcc7;
}

.new-task-modal form input[type="submit"] {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #819abe;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.new-task-modal form select:focus {
  outline: 1px solid #2bbcc7;
}

.boards-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  height: 83%;
}

.board {
  flex: 1;
  margin: 0 1rem;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1f1f1f;
  height: 10%;
  /* background-color: #ffffff; */
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
}

.board-header h3 {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.board-header .new-task-btn:hover {
  color: rgb(74, 156, 88);
}
.todo h3 {
  background-color: #eaeff0;
  color: #6c7377;
}
.in-progress h3 {
  background-color: #e2f0ff;
  color: #6a87af;
}

.done h3 {
  background-color: #d5eeda;
  color: #658f6b;
}

.board-header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(133, 133, 133);
}

.board-header-icons .new-task-btn {
  margin-left: 1rem;
  color: rgb(133, 133, 133);
  font-size: 1rem;
}

.board .inner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  /* background-color: rgba(255, 255, 255, 0.644); */
  padding: 1rem;
}

.board .inner::-webkit-scrollbar {
  display: none;
}

.board .inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task-wrapper {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 0 1px #6969690e;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  cursor: move;
  margin-bottom: 1.5rem;
  transition: 0.2s;
}

.task-wrapper.hide {
  animation: fadeOut 0.2s ease-in-out forwards;
}

.task-wrapper.dragging {
  opacity: 0.4;
  box-shadow: 0 0 0 1px #6293d765;
}

.task-wrapper h4 {
  font-weight: 600;
  font-size: 1.4rem;
}
.task-wrapper i {
  color: #5c5c5c;

  transition: 0.2s;
  border-radius: 50%;
}
.task-wrapper i:hover {
  background-color: #e86163;
  color: #fff;
}

.task-wrapper .task-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-wrapper .task-description {
  color: #5c5c5c;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0.5rem 0 2rem 0;
}

.task-wrapper .task-footer {
  display: flex;
  justify-content: space-between;
}
.task-footer-item {
  display: flex;
  align-items: center;
}
.task-footer-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 1px #6c7377;
}
.task-footer-item small {
  color: #6c7377;
  margin-left: 0.5rem;
}

.task-footer-item .priority {
  padding: 0.4rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 20px;
}
.task-footer-item .priority.hold {
  background-color: #fdcaca;
  color: #e65456;
}
.task-footer-item .priority.low {
  background-color: #f0f0f0;
  color: #6c7377;
}

.page-footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}

.page-footer a {
  font-size: 1.3rem;
  color: #1f467e;
  font-weight: 500;
}

/* TOAST MESSAGE */

.toast {
  position: fixed;
  right: -100%;
  top: 4rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  animation: appear 0.5s ease-in-out forwards;
}

.toast.disappear {
  animation: disappear 0.3s ease-in-out forwards;
}

.toast i {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-right: 1rem;
}

.toast.success {
  background-color: #d5eeda;
  color: #658f6b;
}

.toast.success i {
  color: #2f5c36;
}

.toast.danger i {
  color: #bb3234;
}

.toast.danger {
  background-color: #fdcaca;
  color: #e65456;
}

.toast-content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/* FOR MOBILE */

@media screen and (max-width: 780px) {
  .boards-container {
    flex-direction: column;
  }
  .new-task-modal form {
    width: 80%;
  }
}

/* Animations */

/* TASK */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* TOAST */
@keyframes appear {
  form {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 6rem;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    right: 6rem;
  }
  to {
    opacity: 0;
    right: -100%;
  }
}
